<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
      
    </head>
    <body>
       
          <div class='main-content'>
              {{>header}}
               {{>header}}
        <img  src={{img}} class="portreit">
      

        </div>


         {{>footer}}

    </body>

</html>